<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YelpCamp</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head> 
<body>

    <nav class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand active">YelpCamp</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <%if(!currentUser){%>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Signup</a></li>
                <%}else{%>
                    <li><a href="#">Signed In as <%=currentUser.username%></a></li>
                    <li><a href="/logout">Logout</a></li>
                <%}%>
            </ul>
        </div>
    </nav>

        <div class="container">
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <%}%>
            <% if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <%}%>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script type="text/javascript" src="/stylesheet/index.js"></script>
